<h1>Beer Review</h1>

<div class="columns">
    

    <div class="column">
        <div class="box"> 
        <p><STRONG>TOP FIVE BEERS</STRONG></p>
            <ol>
            <% @top_five_beers.each do |beer| %>
                <li><%= beer.rating %>%<br>
                <a href="<%= beer_path(beer) %>"><%= beer.name %></a><br></li>
            <% end %>
            </ol>
        </div>
    </div>
</div>