<div class="box">
<h2>Beer Index</h2>

<a class="button" href="<%= new_beer_path(@beer) %>">New Beer</a>
    <div class="box">
        <% @beers.each do |beer| %>
        <div class="box" id="commentbox">
            <%= beer.name %><br>
            <%= link_to "#{beer.name}", beer_path(beer) %><br>
        </div>
        <% end %>
    </div>
</div>