<div class="box">
<h2>Beer Index</h2>

<a class="button" href="<%= new_beer_path(@beer) %>">New Beer</a>
    <div class="box">
        <% @beers.each do |beer| %>
        <div class="box" id="commentbox">
        <div class="columns">
            <div class="column" id="beerpicindex">
                <% if beer.beer_picture.attached? %>
                    <img src="<%= url_for(beer.beer_picture) %>" id="beerpicindex">
                <% end %>
            </div>
            <div class="column">
                <%= beer.name %><br>
                <%= link_to "#{beer.name}", beer_path(beer) %>
            </div>
        </div>
        </div>
        <% end %>
    </div>
</div>